@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
<div class="table-responsive">
<table class="table">
    <thead>
    <tr>
        <th>Nome de Utilizador</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var admin in Model)
    {
        <tr>
            <td>@admin.UserName</td>
            <td>@admin.Email</td>
            <td>@admin.PhoneNumber</td>
            <td>
                <a asp-action="Edit" asp-route-id="@admin.Id" class="text-warning me-2" title="Editar">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a asp-action="Details" asp-route-id="@admin.Id" class="text-info me-2" title="Detalhes">
                    <i class="bi bi-eye"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@admin.Id" class="text-danger" title="Eliminar">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
<p>
    <a href="/Administrador/Create" class="menu-link btn btn-outline-secondary">
        <i class="bi bi-plus-circle"></i> Criar novo Administrador
    </a>

</p>

