@model PawBuddy.ViewModels.AdminViewModel

<h1>Detalhes do Administrador</h1>

<p><strong>Nome de Utilizador:</strong> @Model.IdentityUser.UserName</p>
<p><strong>Email:</strong> @Model.IdentityUser.Email</p>
<p><strong>Telefone:</strong> @Model.IdentityUser.PhoneNumber</p>

<p><strong>Nome Completo:</strong> @Model.Utilizador.Nome</p>
<p><strong>NIF:</strong> @Model.Utilizador.Nif</p>
<p><strong>Morada:</strong> @Model.Utilizador.Morada</p>

<a asp-action="Index" class="btn btn-secondary">Voltar ao Painel</a>