@model IEnumerable<PawBuddy.Models.Adotam>
<div class="table-responsive">
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(m => m.dateA)</th>
        <th>@Html.DisplayNameFor(m => m.Utilizador)</th>
        <th>@Html.DisplayNameFor(m => m.Animal)</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.dateA.ToString("dd/MM/yyyy")</td>
            <td>@item.Utilizador?.Nome</td>
            <td>@item.Animal?.Nome</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnimalFK" class="btn btn-sm btn-warning me-1" title="Editar">
                    <i class="bi bi-pencil"></i>
                </a>
                <a asp-action="Details" asp-route-id="@item.AnimalFK" class="btn btn-sm btn-info me-1" title="Detalhes">
                    <i class="bi bi-eye"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.AnimalFK" class="btn btn-sm btn-danger" title="Eliminar">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>