@model PawBuddy.Models.Adotam

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Adoção</h1>

<h3>Tens acerteza de que queres eliminar esta adoção?</h3>
<div>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.CodPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animal.Cor)
        </dd>
    </dl>
    <p></p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="AnimalFK" />
        <input type="submit" value="Apagar Permanentemente" class="btn-paleta" />
        <p></p>
        <a asp-action="Index" asp-controller="Administrador" class="btn-paleta">Voltar ao Painel</a>

    </form>
</div>