@model IEnumerable<PawBuddy.Models.Animal>
@* Botão de criar novo animal - visível apenas para administradores *@
@if (User.IsInRole("Admin"))
{
    <div class="text-start mb-4">
        <a asp-action="Create">
        <button class="btn-paleta" >
            <i class="bi bi-plus-circle"></i> Criar Novo Animal
        </button>
        </a>
    </div>
}
<div class="table-responsive">
<table class="table">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Espécie</th>
        <th>Género</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var animal in Model)
    {
        <tr>
            <td>@animal.Nome</td>
            <td>@animal.Especie</td>
            <td>@animal.Genero</td>
            <td>
                <a asp-action="Edit" asp-route-id="@animal.Id" class="text-warning me-2" title="Editar">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@animal.Id" class="text-danger" title="Eliminar">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
