@model PawBuddy.Models.Animal

@{
    ViewData["Title"] = "Delete";
}

<h3>De certeza que queres eliminar este animal da base de dados?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Raca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Raca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Especie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Especie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <!-- Adicionando uma linha de texto para o caminho da imagem -->
        <dt class="col-sm-2">
            <p>Imagem</p>
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Imagem) && Model.Imagem != "example.png")
            {
                <!-- Exibe a imagem -->
                <img src="@Url.Content(Model.Imagem)" alt="Imagem do Animal" class="img-fluid" style="max-width: 150px;"/>
                <p>Caminho da imagem : @Model.Imagem</p> <!-- Exibe o caminho da imagem -->
            }
            else
            {
                <p>Imagem padrão não definida.</p>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post" id="deleteForm">
        <input type="hidden" asp-for="Id" />
        <p>
            
        </p>
        <button type="button" class="btn-paleta" onclick="confirmDelete()">Confirmar Eliminação</button>
        <p>
            
        </p>
        <div>
            <a asp-action="Index" asp-controller="Administrador" class="btn-paleta">Voltar ao Painel</a>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        function confirmDelete() {
            // Mostrar popup de confirmação
            var result = confirm("De certeza que queres eliminar este animal da base de dados?");
            if (result) {
                // Se o usuário confirmar, submete o formulário
                document.getElementById('deleteForm').submit();
            }
        }
    </script>
}
