@model IEnumerable<PawBuddy.Models.IntencaoDeAdocao>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Estado)</th>
            <th>@Html.DisplayNameFor(m => m.Profissao)</th>
            <th>@Html.DisplayNameFor(m => m.Residencia)</th>
            <th>@Html.DisplayNameFor(m => m.Motivo)</th>
            <th>@Html.DisplayNameFor(m => m.temAnimais)</th>
            <th>@Html.DisplayNameFor(m => m.quaisAnimais)</th>
            <th>@Html.DisplayNameFor(m => m.DataIA)</th>
            <th>@Html.DisplayNameFor(m => m.Utilizador)</th>
            <th>@Html.DisplayNameFor(m => m.Animal)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Estado</td>
                <td>@item.Profissao</td>
                <td>@item.Residencia</td>
                <td>@item.Motivo</td>
                <td>@item.temAnimais</td>
                <td>@item.quaisAnimais</td>
                <td>@item.DataIA.ToString("dd/MM/yyyy")</td>
                <td>@item.Utilizador?.Nome</td>
                <td>@item.Animal?.Nome</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-warning me-2" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="text-info me-2" title="Detalhes">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger" title="Eliminar">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>