@model PawBuddy.Models.IntencaoDeAdocao

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Tens a certeza que queres eliminar?</h3>
<div>
    <h4>Intenção de Adoção</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Residencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Residencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataIA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataIA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.temAnimais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.temAnimais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quaisAnimais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quaisAnimais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animal.Nome)
        </dd>
    </dl>

    @if (User.IsInRole("Admin"))
    {
        <form asp-action="DeleteConfirmed" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="DeleteConfirmed" class="btn btn-danger" /> |
            <div>
                <a asp-action="Index" asp-controller="Administrador">Voltar ao Painel</a>
            </div>
        </form>
    }
    else
    {
        <div>
            <a asp-action="Index" asp-controller="Animais">Voltar</a>
        </div>
    }

</div>
