@model PawBuddy.Models.IntencaoDeAdocao

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Formulario de adoção</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control">
                @{
                    <option value="@EstadoAdocao.Reservado">Reservado</option>
                    <option value="@EstadoAdocao.Emvalidacao">Em validação</option>
                    <option value="@EstadoAdocao.Emprocesso">Em Processo</option>
                    <option value="@EstadoAdocao.Concluido">Concluído</option>
                    <option value="@EstadoAdocao.Rejeitado">Rejeitado </option>
                }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Profissao" class="control-label"></label>
                <input asp-for="Profissao" class="form-control" />
                <span asp-validation-for="Profissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Residencia" class="control-label"></label>
                <input asp-for="Residencia" class="form-control" />
                <span asp-validation-for="Residencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="temAnimais" class="control-label"></label>
                <select asp-for="temAnimais" class="form-control">
                    <option value="Sim"> Sim </option>
                    <option value="Não"> Não </option>
                </select>
                <span asp-validation-for="temAnimais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quaisAnimais" class="control-label"></label>
                <input asp-for="quaisAnimais" class="form-control" />
                <span asp-validation-for="quaisAnimais" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DataIA" />
            <input type="hidden" asp-for="UtilizadorFK" />
            <input type="hidden" asp-for="AnimalFK" />
            <div class="form-group">
                <p>
                    
                </p>
                <input type="submit" value="Guardar Alterações" class="btn-paleta"/>
            </div>
        </form>
    </div>
</div>

<p>

</p>
    <div>
        <a asp-action="Index" asp-controller="Administrador" class="btn-paleta">Voltar ao Painel</a>
    </div>


