@model IEnumerable<PawBuddy.Models.Doa>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Valor)</th>
            <th>@Html.DisplayNameFor(model => model.DataD)</th>
            <th>@Html.DisplayNameFor(model => model.Utilizador)</th>
            <th>@Html.DisplayNameFor(model => model.Animal)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Valor)</td>
                <td>@Html.DisplayFor(modelItem => item.DataD)</td>
                <td>@Html.DisplayFor(modelItem => item.Utilizador.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Animal.Nome)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="text-info me-2" title="Detalhes">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger" title="Eliminar">
                        <i class="bi bi-trash"></i>
                    </a>
                    
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<p><strong>Total das doações:</strong> @String.Format("{0:C}", ViewBag.somaValores)</p>